
.btn-primary {
    color: $body-bg;
    background-color: #6A395B;
    border: 1px solid transparent;
    width: 25%;
    margin-bottom: 0;
    text-align: center;
    padding: 0px 2px;
    border-radius: 25px;
    vertical-align: middle;
  }